{% extends 'base.html.twig' %}
{% block title %}Récupération du mot de passe.{% endblock %}
{% block introHome %}{% endblock %}
{% block stylesheets %}
<style>
	.badge-danger {
		background-color: #f3545d;
	}
	.badge {
		border-radius: 50px;
		margin-left: auto;
		line-height: 1;
		padding: 6px 10px;
		vertical-align: middle;
		font-weight: 500;
		font-size: 11px;
	}
	.text-uppercase {
		text-transform: uppercase !important;
	}
	.badge {
		display: inline-block;
		/* padding: .25em .4em;
		font-size: 75%;
		font-weight: 700;
		line-height: 1; */
		text-align: center;
		white-space: nowrap;
		/* vertical-align: baseline;
		border-radius: .25rem; */
	}
</style>
{% endblock %}
{% block main %}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{label}}">
				{{message|raw}}
			</div>
		{% endfor %}
	{% endfor %}
	<div id="espaceIdentification" class="clearfix">
		{{ form_start(form) }}
		<fieldset class="account__form">
			<legend>Mot de passe oublié</legend>
			{{ form_widget(form) }}
		</fieldset>
		{{ form_end(form) }}
		</div>
{% endblock %}