{% extends 'base.html.twig' %}
{% block bgHeader %}{% endblock %}
{% block main %}
<div class="homePage">
	<section class="homePage homeNewsItem clearfix">
		<header>
			<h1>Nos nouveautés</h1>
		</header>
		{% set langDefault = languagesService.languageDefault.id %}
		{% for product in products %}
		{% if product.type == 'master' and product.gamme.id == 1 %}
			{% set slug = '' %}
			{% for content in product.contents %}
				{% if content.lang.id == langDefault %}
					{% set slug = content.slug %}
				{% endif %}
			{% endfor %}
		<article class="vignetteProduit">
			<div>
				<h2>
					{{ product.supplier.supplierName }}
				</h2>
				<p class="imgProduit">
					<a href="{{ path('product_detail', {'slug': slug}) }}">
					{% if product.id in imgPath|keys %}
						<img src="{{ asset('img/p/') ~ imgPath[product.id] }}" alt="{% for content in product.contents %}{% if content.lang.id == langDefault %}{{ content.name }}{% endif %}{% endfor %}">
					{% else %}
						<img src="{{ asset('img/p/fr.jpg') }}" alt="{% for content in product.contents %}{% if content.lang.id == langDefault %}{{ content.name }}{% endif %}{% endfor %}">
					{% endif %}
					</a>
				</p>
				<div class="des">
					<p class="titreProduit">
						<a href="{{ path('product_detail', {'slug': slug}) }}">
						{% for content in product.contents %}
							{% if content.lang.id == langDefault %}
							{{ content.name }}
							{% endif %}
						{% endfor %}
						</a>
					</p>
					<div class="desShort">
						{% for content in product.contents %}
							{% if content.lang.id == langDefault %}
							{{ content.summary|raw }}
							{% endif %}
						{% endfor %}
					</div>
					<div class="tarifProduit">
						{% if product.discount != '' %}
						<div class="zonePromo">
							<p class="pourcentPromo">
							{% set discount = product.discount|discountPriceAT(product.discountType, product.discountOnTaxe, product.taxe.taxeRate, product.sellingPrice, product.sellingPriceAllTaxes) %}
								{{ (discount - product.sellingPriceAllTaxes)|number_format(2, ',', ' ') }} €
							</p>
							<p class="prixBarre">
							{{ product.sellingPriceAllTaxes|number_format(2, ',', ' ') }} €
							</p>
						</div>
						{% endif %}
						<p class="prix">
							{% if product.discount != '' %}
							<a href="{{ path('product_detail', {'slug': slug}) }}">Prix Spotlight : <b>{{ discount|number_format(2, ',', ' ')  }} €</b></a>
							{% else %}
							<a href="{{ path('product_detail', {'slug': slug}) }}">Prix Spotlight : <b>{{ product.sellingPriceAllTaxes|number_format(2, ',', ' ')  }} €</b></a>
							{% endif %}
						</p>

					</div>
				</div>
				<p class="selectionAdd">
					<a href="{{ path('product_detail', {'slug': slug}) }}">
						<img src="{{ asset('images/icon-selection.png') }}" width="18" height="17" alt="">Ajouter à ma sélection
					</a>
				</p>
			</div>
		</article>
		{% endif %}
		{% endfor %}
	</section>
	<section class="homePage homePromos clearfix">
		<header>
			<h1>Nos Promos</h1>
		</header>
		{% set langDefault = languagesService.languageDefault.id %}
		{% for product in products %}
		{% if product.type == 'master' and product.gamme.id == 2 %}
			{% set slug = '' %}
			{% for content in product.contents %}
				{% if content.lang.id == langDefault %}
					{% set slug = content.slug %}
				{% endif %}
			{% endfor %}
		<article class="vignetteProduit">
			<div>
				<h2>
					{{ product.supplier.supplierName }}
				</h2>
				<p class="imgProduit">
					<a href="{{ path('product_detail', {'slug': slug}) }}">
					{% if product.id in imgPath|keys %}
						<img src="{{ asset('img/p/') ~ imgPath[product.id] }}" alt="{% for content in product.contents %}{% if content.lang.id == langDefault %}{{ content.name }}{% endif %}{% endfor %}">
					{% else %}
						<img src="{{ asset('img/p/fr.jpg') }}" alt="{% for content in product.contents %}{% if content.lang.id == langDefault %}{{ content.name }}{% endif %}{% endfor %}">
					{% endif %}
					</a>
				</p>
				<div class="des">
					<p class="titreProduit">
						<a href="{{ path('product_detail', {'slug': slug}) }}">
						{% for content in product.contents %}
							{% if content.lang.id == langDefault %}
							{{ content.name }}
							{% endif %}
						{% endfor %}
						</a>
					</p>
					<div class="desShort">
						{% for content in product.contents %}
							{% if content.lang.id == langDefault %}
							{{ content.summary|raw }}
							{% endif %}
						{% endfor %}
					</div>
					<div class="tarifProduit">
						{% if product.discount != '' %}
						<div class="zonePromo">
							<p class="pourcentPromo">
							{% set discount = product.discount|discountPriceAT(product.discountType, product.discountOnTaxe, product.taxe.taxeRate, product.sellingPrice, product.sellingPriceAllTaxes) %}
								{{ (discount - product.sellingPriceAllTaxes)|number_format(2, ',', ' ') }} €
							</p>
							<p class="prixBarre">
							{{ product.sellingPriceAllTaxes|number_format(2, ',', ' ') }} €
							</p>
						</div>
						{% endif %}
						<p class="prix">
							{% if product.discount != '' %}
							<a href="{{ path('product_detail', {'slug': slug}) }}">Prix Spotlight : <b>{{ discount|number_format(2, ',', ' ')  }} €</b></a>
							{% else %}
							<a href="{{ path('product_detail', {'slug': slug}) }}">Prix Spotlight : <b>{{ product.sellingPriceAllTaxes|number_format(2, ',', ' ')  }} €</b></a>
							{% endif %}
						</p>

					</div>
				</div>
				<p class="selectionAdd">
					<a href="{{ path('product_detail', {'slug': slug}) }}">
						<img src="{{ asset('images/icon-selection.png') }}" width="18" height="17" alt="">Ajouter à ma sélection
					</a>
				</p>
			</div>
		</article>
		{% endif %}
		{% endfor %}
	</section>
	<section class="homePage homeInratables clearfix">
		<header>
			<h1>Les inratables !</h1>
		</header>
		{% set langDefault = languagesService.languageDefault.id %}
		{% for product in products %}
		{% if product.type == 'master' and product.gamme.id == 3 %}
			{% set slug = '' %}
			{% for content in product.contents %}
				{% if content.lang.id == langDefault %}
					{% set slug = content.slug %}
				{% endif %}
			{% endfor %}
		<article class="vignetteProduit">
			<div>
				<h2>
					{{ product.supplier.supplierName }}
				</h2>
				<p class="imgProduit">
					<a href="{{ path('product_detail', {'slug': slug}) }}">
					{% if product.id in imgPath|keys %}
						<img src="{{ asset('img/p/') ~ imgPath[product.id] }}" alt="{% for content in product.contents %}{% if content.lang.id == langDefault %}{{ content.name }}{% endif %}{% endfor %}">
					{% else %}
						<img src="{{ asset('img/p/fr.jpg') }}" alt="{% for content in product.contents %}{% if content.lang.id == langDefault %}{{ content.name }}{% endif %}{% endfor %}">
					{% endif %}
					</a>
				</p>
				<div class="des">
					<p class="titreProduit">
						<a href="{{ path('product_detail', {'slug': slug}) }}">
						{% for content in product.contents %}
							{% if content.lang.id == langDefault %}
							{{ content.name }}
							{% endif %}
						{% endfor %}
						</a>
					</p>
					<div class="desShort">
						{% for content in product.contents %}
							{% if content.lang.id == langDefault %}
							{{ content.summary|raw }}
							{% endif %}
						{% endfor %}
					</div>
					<div class="tarifProduit">
						{% if product.discount != '' %}
						<div class="zonePromo">
							<p class="pourcentPromo">
							{% set discount = product.discount|discountPriceAT(product.discountType, product.discountOnTaxe, product.taxe.taxeRate, product.sellingPrice, product.sellingPriceAllTaxes) %}
								{{ (discount - product.sellingPriceAllTaxes)|number_format(2, ',', ' ') }} €
							</p>
							<p class="prixBarre">
							{{ product.sellingPriceAllTaxes|number_format(2, ',', ' ') }} €
							</p>
						</div>
						{% endif %}
						<p class="prix">
							{% if product.discount != '' %}
							<a href="{{ path('product_detail', {'slug': slug}) }}">Prix Spotlight : <b>{{ discount|number_format(2, ',', ' ')  }} €</b></a>
							{% else %}
							<a href="{{ path('product_detail', {'slug': slug}) }}">Prix Spotlight : <b>{{ product.sellingPriceAllTaxes|number_format(2, ',', ' ')  }} €</b></a>
							{% endif %}
						</p>

					</div>
				</div>
				<p class="selectionAdd">
					<a href="{{ path('product_detail', {'slug': slug}) }}">
						<img src="{{ asset('images/icon-selection.png') }}" width="18" height="17" alt="">Ajouter à ma sélection
					</a>
				</p>
			</div>
		</article>
		{% endif %}
		{% endfor %}
	</section>
</div>
{% endblock %}