{% extends 'base.html.twig' %}

{% block title %}{{ content.name }}{% endblock %}
{% block introHome %}{% endblock %}
{% block main %}
<aside id="listeCat" class="clearfix">
	<header>
		<h1>Nos vins</h1>
	</header>
	<nav>
		<ul class="sf-menu sf-vertical">
			{{ render(controller('App\\Controller\\MenusController::displayMenuCat')) }}
		</ul>
	</nav>
</aside>
<div class="contentDetailProduit clearfix">
	<div class="ficheProduit">
		<h2>{{ content.name }}</h2>
		<div class="tarifProduit">
			{% set netprice = product.sellingPriceAllTaxes %}
			{% if product.discount != '' %}
			{% set netprice = product.discount|discountPriceAT(product.discountType, product.discountOnTaxe, '20', product.sellingPrice, product.sellingPriceAllTaxes) %}
				<del>
					{{ product.sellingPriceAllTaxes|number_format(2, ',', ' ') }} €
					<span class="remiseMontant">
						{{ product.discount|discountPriceAT(product.discountType, product.discountOnTaxe, taxe.taxeRate, product.sellingPrice, product.sellingPriceAllTaxes)|number_format(2, ',', ' ') }} €
					</span>
				</del>
			{% endif %}
			<p class="prixttc">{{ product.sellingPriceAllTaxes|number_format(2, ',', ' ') }} € TTC</p>
			{% if product.minQuantity > 1 %}<small>Soit {{ (product.minQuantity * netprice)|number_format(2, ',', ' ') }}&euro; les {{ product.minQuantity }} bouteilles</small>{% endif %}
			{% if product.bulkQuantity > 1 %}<small><span style="color: #f00; display: inline-block; padding: 0 9px; border: solid 1px #d1d1d1; border-radius: 5px; font-weight: bold;">Vente en vrac !</span> Disponible à l'unité, mais vendu dans un carton contenant au moins {{ product.bulkQuantity }} articles.</small>{% endif %}
		</div>
		<form method="post" enctype="multipart/form-data" action="{{ path('cart_add') }}">
				<label for="qte">Quantité</label>
				<input name="qty" type="number" id="qty" value="{{ product.minQuantity }}" style="width: 50px;" min="{{ product.minQuantity }}" step="{{ product.salesUnit }}" />
				<input type="hidden" name="version" value="physique">
				<input type="hidden" name="add_cart" value="{{ product.id }}">
				<div class="addtocart__actions">
					<input type="submit" name="addCart" id="addCart_0" class="tocart" value="Ajouter au panier">
				</div>
		</form>
		<div class="description">
			{{ content.description|raw }}
		</div>
	</div>
	<div class="visuelProduit clearfix">
		<div class="imagesProduits">
			<p class="imageCouverture">
				{% if imgCover != '' %}
				<a href="{{ asset('img/p/') ~ imgCoverOrigin }}" title="{{ content.name }}"><img src="{{ asset('img/p/') ~ imgCover }}" alt="{{ content.name }}"></a>
					{% if imgSecondary|length > 0 %}
						{% for key, otherImg in imgSecondary %}
						<p class="imagesComplementaire">
						<span>
							<a href="{{ asset('img/p/') ~ imgSecondaryOrigin[key] }}"><img src="{{ asset('img/p/') ~ otherImg }}" alt="{{ content.name }}"></a>
						</span>
						</p>
						{% endfor %}
					{% endif %}
				{% else %}
				<img src="{{ asset('img/p/fr.jpg') }}" alt="{{ content.name }}">
				{% endif %}
			</p>
		</div>
	</div>
</div>
{% endblock %}