{% extends 'base.html.twig' %}
{% block main %}
	<div class="homePage">
		<h1>{{ nbResult }} produit{% if nbResult|length > 1 %}s{% endif %} trouvé{% if nbResult|length > 1 %}s{% endif %} pour votre recherche "{{ search}}"</h1>
	<section class="homePage homeNewsItem clearfix">
		<div id="afficheProduitCategorie">
			{% for product in products %}
			{% if product.type == 'master' %}
				{% set slug = '' %}
				{% for content in product.contents %}
					{% if content.lang.id == 1 %}
						{% set slug = content.slug %}
					{% endif %}
				{% endfor %}
			<article class="vignetteProduit">
				<div>
					{% if product.supplier != null %}
					<h2>
						{{ product.supplier.supplierName }}
					</h2>
					{% endif %}
					<p class="imgProduit">
						<a href="{{ path('product_detail', {'slug': slug}) }}">
							{% if product.id in imgPath|keys %}
							<img src="{{ asset('img/p/') ~ imgPath[product.id] }}" alt="{% for content in product.contents %}{% if content.lang.id == 1 %}{{ content.name }}{% endif %}{% endfor %}">
							{% else %}
							<img src="{{ asset('img/p/fr.jpg') }}" alt="{% for content in product.contents %}{% if content.lang.id == 1 %}{{ content.name }}{% endif %}{% endfor %}">
							{% endif %}
						</a>
					</p>
					<div class="des">
						<p class="titreProduit"><a href="{{ path('product_detail', {'slug': slug}) }}">{% for content in product.contents %}{% if content.lang.id == 1 %}{{ content.name }}{% endif %}{% endfor %}</a></p>
						<div class="desShort">
							{% for content in product.contents %}{% if content.lang.id == 1 %}{{ content.summary|raw }}{% endif %}{% endfor %}
						</div>
						<div class="tarifProduit">
							{% if product.discount != '' %}
								{% set netprice = product.discount|discountPriceAT(product.discountType, product.discountOnTaxe, '20', product.sellingPrice, product.sellingPriceAllTaxes) %}
							<div class="zonePromo">
							<p class="pourcentPromo">{{ (netprice - product.sellingPriceAllTaxes)|number_format(2, ',', ' ') }} €</p>
							<p class="prixBarre">{{ product.sellingPriceAllTaxes|number_format(2, ',', ' ') }} €</p>
							</div>
							<p class="prix">Prix Spot'light : {{ netprice|number_format(2, ',', ' ') }} €</p>
							{% else %}
							<p class="prix">Prix Spot'light : {{ product.sellingPriceAllTaxes|number_format(2, ',', ' ') }} €</p>
							{% endif %}
						{% if product.propertiesContents|length > 0 %}
							{% for property in product.propertiesContents %}
								{% if property.lang.id == 1 %}
								{% for content in property.property.contents %}
									{% if content.property.id == 1 %}
										<p class="prix" style="background-color: #009F49;">{% if content.lang.id == 1 %}{{ content.name }}{% endif %} : {{ property.value|number_format(2, ',', ' ') }} €</p>
									{% endif %}
								{% endfor %}
								{% endif %}
							{% endfor %}
						{% endif %}

						</div>
					</div>
				</div>
			</article>
				{% endif %}
			{% endfor %}
		</div>

	</section>
</div>
{% endblock %}