{% extends 'admin/base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<div class="page-header">
    <h4 class="page-title">Produits</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="{{ path('dashboard') }}">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            Produits
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-head-row">
                    <h4 class="card-title">Produits</h4>
                    <div class="card-tools">
                        <a href="{{ path('products_new') }}" class="btn btn-info font-weight-bold"><span class="btn-label"><i class="flaticon-plus"></i></span> Ajouter un produit</a>
                    </div>
                </div>                
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table data-order='[[ 0, "desc" ]]' id="basic-datatables" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Référence</th>
                                <th>Prix de vente HT</th>
                                <th>Prix de vente TTC</th>
                                <th>Catégories</th>
                                <th class="text-center">Quantité</th>
                                <th class="text-center">Affichage</th>
                                <th colspan="2" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>
                                    {% for image in product.images %}
                                        {% if image.cover == 1 %}
                                        <figure class="figure mr-3" style="width: 90px">
                                            <img src="{{ asset('img/p/') ~ image.id|pathProduct ~ image.id }}_smallsquare{{ image.mimeType|mimeType }}" alt="" class="img-fluid img-thumbnail">
                                        </figure>
                                        {% endif %}
                                    {% else %}
                                        <figure class="figure mr-3" style="width: 90px">
                                            <img src="{{ asset('img/p/fr.jpg') }}" alt="" class="img-fluid img-thumbnail">
                                        </figure>
                                    {% endfor %}
                                    {% for content in product.contents %}
                                        {% if content.lang.id == languagesService.languageDefault.id %}
                                            {{ content.name }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ product.reference }}</td>
                                <td>{{ product.sellingPrice|number_format(2, ',', ' ') }} €</td>
                                <td>{{ product.sellingPriceAllTaxes|number_format(2, ',', ' ') }} €</td>
                                <td>
                                {% for categories in product.categories  %}
                                    {% for categorie in categories.contents %}
                                        {% if categorie.lang.id == languagesService.languageDefault.id %}
                                        <span class="badge badge-count">{{ categorie.name }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </td>
                                <td class="text-center">
                                    {{ product.stockManagement ? product.quantity : 'Non géré' }}
                                </td>
                                {# <td>{{ product.discountOnTaxe ? 'Yes' : 'No' }}</td>#}
                                <td class="text-center">{{ product.offline ? '<i class="la la-close" style="color: #CF0000; font-weight: bold; font-size: 15px;">' : '<i class="la la-check" style="color: #009A07; font-weight: bold; font-size: 15px;">' }}</td>
                                {# <td>{{ product.dateUp ? product.dateUp|date('Y-m-d H:i:s') : '' }}</td> #}
                                <td class="text-center">
                                    <div class="d-inline-flex">
                                        <div class="p-1">
                                            <a href="{{ path('products_edit', {'id': product.id}) }}" class="btn btn-primary" title="Éditer"><i class="btn-label fas fa-pen" style="font-size: 16px;"></i></a>
                                        </div>
                                        <div class="p-1">{{ include('admin/products/_delete_form.html.twig') }}</div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">Aucun enregistrement dans la base de données.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
