{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des Livraison{% endblock %}
{% form_theme form _self %}
{% block stylesheets %}
<style type="text/css">
	fieldset {
		padding: 0 !important;
	}
</style>
{% endblock %}
{% block body %}
<div class="page-header">
    <h4 class="page-title">Gestion des livraisons</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="{{ path('dashboard') }}">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            E-commerce
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="{{ path('carriers_index') }}"></a>Livraison
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            Ajouter un transporteur
        </li>
    </ul>
</div>
<div class="row">
	<div class="col-md-2">
		<div class="card">
			<aside>
				<div class="list-group">
					<a href="#" class="list-group-item active">Transporteur</a>
					<a href="{{ path('carriers_config_edit', {'id': carrier.id}) }}" class="list-group-item disabled">Coûts d'expédition par pays</a>
					<a href="{{ path('carriers_config_edit_region', {'id': carrier.id}) }}" class="list-group-item disabled">Coûts d'expédition par Région</a>
					<a href="{{ path('carriers_config_edit_department', {'id': carrier.id}) }}" class="list-group-item disabled">Coûts d'expédition par département</a>
				</div>
			</aside>
		</div>
	</div>
	<div class="col-md-10">
		<div class="card">
			<div class="card-header">
				<div class="card-head-row">
					<h4 class="card-title text-info">Ajouter un transporteur</h4>
					<div class="card-tools">
						<a href="{{ path('carriers_new') }}" class="btn btn-info font-weight-bold"><span class="btn-label"><i class="flaticon-plus"></i></span> Ajouter un transporteur</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				{% if languagesService.getLanguages|length > 1 %}
					{% set chose = 0 %}
				<!-- champ de sélection des langues -->
				<div class="choiceLanguage contentWrapperInput">
					<button onclick="event.preventDefault(); return addDisplay(this);" class="btn btn-primary"></button>
					<select name="choiceLanguage" class="choice_language_multiple selectHidden skipThese">
						{% for lang in languagesService.getLanguages %}
						<option data-role="{{ lang.langIsoCode }}" id="id_langue_name_{{ chose }}" value="{{ chose }}">{{ lang.langName}}</option>
						{% set chose = chose + 1 %}
					{% endfor %}
					</select>
				</div>
				{% endif %}
				{{ include('admin/carriers/_form.html.twig') }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block _carriers_carriersLang_entry_row %}
		{{ form_widget(form) }}
{% endblock %}

{% block javascripts %}
<!-- Bootstrap Toggle -->
<script src="{{ asset('admin/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js') }}"></script>

<!-- Multilanguage -->
<script src="{{ asset('admin/js/multilanguage.js') }}"></script>
<script type="text/javascript">
	//Création du tableau recueillant les langues
	const listLang = new Object();
	const listLangIso = new Object();
	{% for lang in languagesService.getLanguages %}
	listLang[{{lang.id}}] = '{{lang.langName}}';
	listLangIso[{{lang.id}}] = '{{lang.langIsoCode}}';
	{% endfor %}

	//Function pour calculer la taille du tableau
	Object.size = function(arr) 
	{
	    var size = 0;
	    for (var key in arr) 
	    {
	        if (arr.hasOwnProperty(key)) size++;
	    }
	    return size;
	};
	var langLength = Object.size(listLang);

	multilanguage('carriers_carriersLang', listLang, {{ languagesService.getLanguages|length }}, {{ languagesService.languageDefault.id }});
</script>
{% endblock %}