{{ form_start(form_payments) }}
<div class="row align-items-center">
	<div class="col-6">
		{{ form_row(form_payments.payment_amount) }}
	</div>
	<div class="col-6">
		{{ form_row(form_payments.payment_mode) }}
	</div>
	<div class="col-6">
		{{ form_row(form_payments.info_transaction) }}
	</div>
    <div class="col-4">
    	<div class="form-group">
    		<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    	</div>
	</div>
</div>
{{ form_end(form_payments) }}
