{{ form_start(form) }}
<div class="account__form">
	<div class="form-check form-check-inline">
		{{ form_row(form.gender)}}
	</div>
	{{ form_row(form.address_firstname)}}
	{{ form_row(form.address_lastname)}}
	{{ form_row(form.address_compagny)}}
	{{ form_row(form.country)}}
	{{ form_row(form.address)}}
	{{ form_row(form.zipcode)}}
	{{ form_row(form.town)}}
	{{ form_row(form.phone)}}
	{{ form_row(form.mobile)}}
	<!-- <div class="card-footer p-4">
		<p class="card-text">
			<input type="submit" class="btn btn-primary" value="Enregistrer">
		</p>
	</div> -->
</div>
<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
