<!DOCTYPE html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ appService.params.title }}{% endblock %}</title>
    <meta name="description" content="{{ appService.params.seoDescription }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Favicons -->
	<link rel="shortcut icon" href="{{ asset('admin/assets/img/favicon.ico') }}" type="image/x-icon">
	<link rel="apple-touch-icon" href="images/icon.png">

	{% block fonts %}
	{% endblock %}

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ asset('css/init.css') }}">
	<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
	<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">

	<!--[if lt IE 9]>
	<script src="{{ asset('js/html5-3.6-respond-1.1.0.min.js') }}"></script>
	<![endif]-->

	<!-- Modernizer js -->
	<script src="{{ asset('js/vendor/modernizr-3.5.0.min.js') }}"></script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	
	<script src="{{ asset('js/plugins.js') }}"></script>
	<!-- Magnific Popup core JS file -->
	<script src="{{ asset('js/jquery.magnific-popup.js') }}"></script>

    {% block stylesheets %}{% endblock %}
    {% block JS %}
	<script type="text/javascript">
		function imprime() {
			if (typeof(window.print) != 'undefined') {
				window.print();
			}
		}
		</script>
		<script type="text/javascript">
		$(document).ready(function() {
			$('.imagesProduits').magnificPopup({
				delegate: 'a',
				type: 'image',
				tLoading: 'Loading image #%curr%...',
				mainClass: 'mfp-img-mobile',
				gallery: {
					enabled: true,
					navigateByImgClick: true,
					preload: [0,1] // Will preload 0 - before current, and 1 after the current image
				},
				image: {
					tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
					titleSrc: function(item) {
						return item.el.attr('title');
					}
				}
			});
		});
		</script>
    {% endblock %}
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">Vous utilisez un navigateur <strong>obsolète</strong>. Veuillez <a href="https://browsehappy.com/">mettre à jour votre navigateur</a> pour améliorer votre viste et votre sécurité.</p>
	<![endif]-->
    {% if app.user %}
	   	{% if is_granted('ROLE_USER') %}
		<div id="zoneAdmin">
		    <div id="zoneHeader">
		    <div id="logoMorgane"><img src="{{ asset('admin/img/morganeresponsive.png') }}" width="75" height="35"></div>
		    <div id="accesSite">
		    {#
		        if(isset($_GET['postvisu'])) {
		            $lien = URL_ADMIN . 'post-maj.php?id=' . $_GET['postvisu'];
		            $texte = '<span style="background-color: #FFB400; padding: 5px; color: #fff; border-radius: 3px; text-shadow: 0px 1px 0px #000;">MODIFIER</span> <span style="background-color: #006CFF; padding: 5px; color: #fff; border-radius: 3px; text-shadow: 0px 1px 0px #000;">PUBLIER</span>';
		        } else {
		            $lien = URL_ADMIN;
		            $texte = 'Retour sur Morgane';
		        }
		    #}
		      <p><a href="{{ path('dashboard') }}" style="text-decoration: none;"><?php echo $texte; ?>Retour sur Morgane</a></p>
		    </div>
		    <div id="utilisateurConnecte">
		        <ul>
		            <li class="salutations">Bienvenue {{ app.user.firstname }}
		                <ul>
		                    <li><a href="../admin/user-edit/<?php echo $userAuth->id_user(); ?>">Mon Compte</a></li>
		                </ul>
		            </li>
		            <li class="deconnexion"><a href="{{ path('admin_logout') }}">Se déconnecter</a></li>
		        </ul>
		    </div>
		    </div>
		</div>
	   	{% endif %}
    {% endif %}
	<div class="header-container">
		<header class="wrapper clearfix">
			<h1 class="title"><a href="../">{{ appService.params.title }}</a></h1>
			<h2>{{ appService.params.title }}</h2>
			<p class="headerTel">107 avenue Maginot - 37100 TOURS - <span>☎ 02 47 54 42 00</span></p>
			<h3 class="headerDescription">Vente - Location - Installation - Prestations</h3>
			<form name="form1" method="post" action="recherche.php">
				<input type="search" name="search" id="search" placeholder="Rechercher un produit...">
				<input name="submitSearch" type="submit" id="submitSearch" value="Rechercher">
			</form>
		</header>
		<div class="topHeader">
			<div class="listeSelection">
				<p><a href="selection.php"><img src="{{ asset('images/icon-selection.png') }}" width="18" height="17" alt="">{# if cartService.totalQuantity > 1 %}Ma sélection de {{ cartService.totalQuantity }} produit{% if cartService.totalQuantity > 1 %}s{% endif %}{% else %}Ma sélection est vide{% endif #}</a></p>
			</div>
		</div>
		{{ render(controller('App\\Controller\\MenusController::displayMenuCat')) }}
	</div>
	<div class="main-container">
		<div class="main wrapper clearfix">
			{% block main %}
		    {% endblock %}
		</div>
    </div>
    <div class="footer-container">
		<footer class="wrapper clearfix">
			<div class="activite">
					<p>Présent  depuis   1980, nos magasins ne cessent d'évoluer pour vous proposer un service à   la mesure d'un secteur d'activité en perpétuelle évolution. </p>
					<p> Nos équipes se   tiennent à votre entière disposition pour satisfaire tous vos besoins, qu'ils   soient techniques ou commerciaux.</p>
					<p> Nous disposons d'un large choix   en exposition de <strong>table de mixage, ampli, lecteur CD, platine vinyl</strong>...,   ainsi que d'un auditorium où vous pourrez apprécier notre gamme d'enceintes.</p>
					<p> Pour les jeux de lumière, nous   disposons d'un <strong>show-room</strong> où plus de 30 appareils sont en démonstration   permanente.</p>
					<p>Toutes ces gammes de produits   satisferont aussi bien le professionnel le plus exigeant que les passionnés et   les débutants.</p>
					<p> Nous vous offrons également un <strong>grand choix de lampes</strong>. Environ 500 références aux meilleures   conditions du marché, de l'éclairage général à l'éclairage   professionnel. <strong>Incandescence, halogène, dichroïque, décharge...</strong></p>
			</div>
			<div class="donneesFooter">
				{% for address in appService.getAddressesSite %}
				<div style="float: left;">
					<p><strong>
						{% for title in address.addressesTitles %}
							{% if title.lang.id == 1 %}
								{{ title.addressTitle }}
							{% endif %}
						{% endfor %}
					</strong></p>
					<p>
						{{ address.address|nl2br }}<br>
						{{ address.zipcode }} {{ address.town }}
					</p>
					<p>Tél : {{ address.phone }}</p>
					<p><strong>Horaires d'ouverture :</strong><br>
						{{ address.openingTime|nl2br }}
					</p>
				</div>
				{% endfor %}
				<div>
					<p><strong>Responsable</strong> : David Cotet</p>
					<p><a href="contact.php">Contact</a> | <a href="#">Mentions Légales</a></p>
					<p>Siret : 401 507 348 00019<br>APE : 4743Z</p>
					<p>Tous droits réservés - {{ "now"|date("Y") }}</p>
				</div>
			</div>
		</footer>
	</div>
</div>

<!--<script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>-->
</body>
</html>
